@import "_reset.scss";

$white: #ffff;
$vut: #e4002b;
$vutDark: #cf0227;
$fekt: #0060aa;
$grey: #f1f1f1;


// Custom colors
$willi: #008ace;
$boxShadow: 0 4px 6px -1px rgba(0, 0, 0, .1),
0 2px 4px -1px rgba(0, 0, 0, .06);

$lg: 1200px;
$md: 768px;
$sm: 576px;

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

button {
    &:focus {
        outline: none !important;
    }
}

strong {
    font-weight: 600;
}

.btn-primary {
    background-color: $willi;
    border-color: $willi;
}

.modal-header {
    font-weight: 600;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 600;
    color: $willi !important;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
        width: 250px;
    }
}

.search {
    background-color: #f1f4f8;
    padding: 2rem 0;
}

.search-input {
    box-shadow: $boxShadow;

    * {
        border: 0;
    }

    input {
        padding: 25px 10px;
    }
}

#searchBtn {
    padding: 0 1.1rem;
    background-color: $willi;
    color: $white;
}

.search-gif {
    display: none;
}

#searchGif {
    width: 16px;
}

.filter {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;

    .form-group {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .checkboxes {
        margin-top: 1.5rem;
    }

    .chart-select {
        min-width: 160px;
    }

    .results-limit {
        min-width: 180px;
    }

    .form-check {
        display: flex;
        padding-left: 0;
        padding-right: 1rem;
    }

    .form-check-input {
        position: relative;
        margin: 0;
        width: 1.4rem;
        height: 1.4rem;
    }

    .form-check-label {
        align-self: center;
        padding-left: .3rem;
    }
}

.found {
    margin-top: 2rem;
    font-weight: 600;
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 1rem;
}

.result-item {
    padding: 1rem;
    box-shadow: $boxShadow;

    ul {
        list-style-type: none;
    }

    li {
        line-height: 1.6em;
    }
}

.host {
    font-weight: 600;
}


.summary {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .result-item {
        display: flex;
        flex-direction: column;

        ul {
            padding-bottom: 1rem;
        }

        button {
            margin-top: auto;
        }
    }
}

.search-results {
    margin-bottom: 2rem;
    min-height: 158px;
}

footer {
    padding: 3rem 0;
    color: $white;
    background-color: #222222;
    text-align: center;
}